.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    list-style: none;
}

@media screen and (min-width: 768px){
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1280px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}

.item {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.item:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}