.card {
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.card:hover .image {
    transform: scale(1.03);
}